.editor-wrap{
  display: flex;
  height: 100%;
  .editor-wrap-left,.editor-wrap-right{
    width: 270px;
    background: #d3d3d3;
    padding: 10px;
  }
  .editor-wrap-mid{
    flex: 1;
    margin: 0 10px;
    max-width: 1200px;
    .menu{
      height: 80px;
      background:green;
      margin-bottom: 10px;
    }
    .container-wrap{
      height: 100%;
      // background: red;
      .container-layout{
        overflow: auto;
        height: 100%;
        background: antiquewhite;
        .container{
          position: relative;
          background: yellow;
          padding: 10px;
          .make-line-x{
            border-left: 1px dashed red;
            position: absolute;
            top: 0px;
            bottom: 0px;
          }
          .make-line-y{
            border-top: 1px dashed red;
            position: absolute;
            left: 0px;
            right: 0px;
          }
        }
      }
    }
  }

}

.left-block-item{
  height: 100px;
  background: #fff;
  cursor: move;
  user-select: none;
  margin-bottom: 10px;
  position: relative;
  &::after{
    content: '';
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
  }
  .item-label{
    background: #5ae55a;
    padding: 2px 10px;
    color: #fff;
  }
  .item-component{
    display: block;
    margin: 20px;
    text-align: center;
  }
}
.block{
  position: absolute;
  &::after{
    content: '';
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
  }
}
.block-focus{
  border: 2px dashed red;
}